.place {
    display: flex;
    width: 30vw;
    height: 7vh;
    align-items: center;
    background-color: white;
    justify-content: center;
    box-shadow: 0px 0px 8px;
    border-radius: 8px 8px 8px 8px;
    margin-bottom: 10px;
}
#search-icon {
    background-color: transparent;
    height: 3vh;
    width: 3vh;
    border: 0;
    padding: 1px 1px;
    color: royalblue;
}
.from-input {
    border: none;
    width: 90%;
    height: 100%;
    font-size: 1.25rem;
    border-radius: 8px;
    background-color: transparent;
    padding-left: 5px;
}
.destination-input {
    border: none;
    width: 90%;
    height: 100%;
    font-size: 1.25rem;
    border-radius: 8px;
    background-color: transparent;
    padding-left: 5px;
}
#vehicle-options {
    font-size: large;
    width: 30vw;
    height: 7vh;
    background-color: white;
    border-radius: 8px;
    border-color: white;
    box-shadow: 0px 0px 8px;
}
.select-vehicle {
    margin-top: 20px;
}
#fuel-info {
    background-color: royalblue;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 15vw;
    height: 4vh;
    border-radius: 8px;
    border: none;
}
#fuel-efficiency {
    display: flex;
    flex-direction: column;
    
}
#fuel-efficiency input {
    margin: 5px 0px;
    border: none;
    background-color: white;
    width: 30vw;
    height: 7vh;
    border-radius: 8px;
    border-color: white;
    box-shadow: 0px 0px 8px;
    padding-left: 1vw;
}

#date {
    border: none;
    color: black;
    background-color: royalblue; 
    border-radius: 8px;
    padding-left: 1vw;
    padding-right: 1vw;
}
#submit-button {
    background-color: royalblue;
    color: white;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 8px royalblue;
    width: 15vw;
    height: 5vh;
    margin-top: 20px;
}
.Map {
        display: flex;
}